/* body{ 
    background:#292841;
} */
.roww{
    justify-content: auto;
    justify-items: auto;
    padding-top: 50px;
    background:#fff;
    border-radius: 5px;
}

/* img{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */

/* .btn1{
    border:none;
    outline:none;
    height: 50px;
    width: 100%;
    background-color:#F2A007;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
} */

.btn1:hover{
    background:#FF0C42;
    border: 1px solid;
    color: white;
}

#logo {
    width: 300px;
}

h5{
    color:#FF0C42;
}
