.JustifyHeader{
    overflow-y: hidden;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    background: #744D8C;
    /* padding: -0.5rem 8rem; */
    /* z-index: 1000; */
}

#logo {
    width: 250px;
}

.navbar .navbar-brand{
    font-size:1.4rem;
    font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: #fff;
    font-size: 1.1rem;
    /* padding: 0 0.8rem; */
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #FF0C42;
}