.backgroudAudit {
    background-color: #744D8C;

}        
.display-3 {
    font-family: Arial, Helvetica, sans-serif;
}

.texto-m {
    font-weight: bolder;
    margin-bottom: 0%;
    color: #744D8C;
} 

p {
    color: #F2A007
}

.btn1{
    background: #F2A007;
    color:#fff;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 80px;
    width:145px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
}
.navbar{
    background: #744D8C;
    padding: -0.5rem 8rem;
    z-index: 1000;
}

#logo {
    width: 250px;
}

.navbar .navbar-brand{
    font-size:1.4rem;
    font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: #fff;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #FF0C42;
}

.footer-container {
    background-color: #744D8C;
    padding: 2rem 0  4rem 0;

}

.footer {
    width: 80%;
    height: 40vh;
    background-color: #744D8C;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading { 
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 2rem;

}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: #F2A007;
    transition: 0.3s ease-out;

}

.footer-email-form h2{
    margin-bottom: 2rem;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1;
}
#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #FF0C42;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #292841;
    transition: all 0.4s ease-out;
}

.btn1{
    background: #F2A007;
    color:#fff;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width:145px;
}