/* Fonte do  projeto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    background: #744D8C;
    padding: -0.5rem 8rem;
    z-index: 1000;

}

#logo {
    width: 250px;
}

.navbar .navbar-brand{
    font-size:1.4rem;
    font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: #fff;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #FF0C42;
}

/*botao sign in*/

#navbarSupportedContent > button{
   /*   background: #FF0C42; (mudar botao login para rosa, nao esquecer de mudar de warning para light no index.html*/
    font-weight: 400;
    padding: 0.4rem 1.4rem;
    border-radius:30px;
    
}

.mid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    
    
    
}

.mid video{
    width:100%;
    height:100%;
    pointer-events: none; 
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero{
    position: relative;
}

.mid .hero p{
    width:55%;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    
}

.mid .hero a{
    background: #FF0C42;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius:30px;
    text-decoration: none;
}

.mid .hero a:hover{
    background: #744D8C;
}

/*SECTIONS*/

.about{
    background: #292841;
    height:100vh; 
    display: flex;

 }


.about .text{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin:auto;
}

.about .text h6{
    color:#F2A007;
    font-weight: 800;
    font-size:1rem;
    letter-spacing:2px;
}

.about .text h2{
    color:#fff;
    font-weight: 700;
    font-size:2.7rem;
    
}
.about .text p{
    color:#fff;
    font-weight: 400;
    font-size: 1.1rem;   
}
.about .text a{
    background: #FF0C42;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius:30px;
    text-decoration: none;
    color:#fff
}

.btnSection{
    background: #FF0C42;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius:30px;
    text-decoration: none;
    color:#fff
}

.funcionalidades {
    background: #fff;
    height:100vh; 
    display: flex;
}


.funcionalidades .text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.funcionalidades .text h6{
    color:#FF0C42;
    font-weight: 800;
    font-size:1rem;
    letter-spacing:2px;
}

.titleSection{
    color:#FF0C42;
    font-weight: 800;
    font-size:1rem;
    letter-spacing:2px;
}

.funcionalidades .text h2{
    color: #131313;
    font-weight: 700;
    font-size:2.7rem;
    
}
.funcionalidades .text p{
    color:#292841;
    font-weight: 400;
    font-size: 1.1rem;   
}
.funcionalidades .text a{
    background: #F2A007;
    font-weight: 500;
    padding: 0.4rem 1.4rem;
    border-radius:30px;
    text-decoration: none;
    color:#fff

}
.service{
   background-color:#292841;
    height:100vh; 
    display: flex;
}

.service .one{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 7px;
}
 footer{
     background:#744D8C;
     padding-top: 40px;
     color:#fff;
    width: 100%;
    height: auto;
 }

.footer-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}
.footer-content p{

    font-size:14px;

}
.contact{
    background: url(./assets/images/contato.png);
    background-size: 100% 100%;
    width: 100%;
    height:100vh;
}


.head{
    background-color: #F2A007;
    border-radius: 5px;
    margin-top:60px;
    -webkit-box-shadow: -1px 16px 27px -8px rgba(235,201,138,1);
    -moz-box-shadow: -1px 16px 27px -8px rgba(235,201,138,1);
    box-shadow: -1px 16px 27px -8px rgba(235,201,138,1);

}
.effect-1{
    border:0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}
.effect-1 ~.Focus-border{
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background-color:  #F2A007;
    transition: 0.4s;
}
.effect-1:focus ~ .Focus-border{
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.btn1{
    background: #F2A007;
    color:#fff;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width:145px;
    text-align: center;
}

/* FOOTER */


.footer-container {
    background-color: #744D8C;
    padding: 2rem 0  4rem 0;

}

.footer {
    width: 80%;
    height: 40vh;
    background-color: #744D8C;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading { 
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 2rem;

}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: #F2A007;
    transition: 0.3s ease-out;

}

.footer-email-form h2{
    margin-bottom: 2rem;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1;
}
#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #FF0C42;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #292841;
    transition: all 0.4s ease-out;
}

@media screen and (max-width: 1150px) {
    .footer {
        height: 50vh;
    }
    .footer-email-form{
        scroll-margin-top: 4rem;
    }
}

@media screen and (max-width: 820px) {
    .footer  {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 720px){
    .footer-3{
        display: none;
    }
    .footer-email-form{
        margin-top: 2rem;
    }
}